.seach-img img{
    object-fit: cover;
    width: 280px;
    height: 95%;
    padding-top: 5px;
    margin-left: 5px;
    
}

.seach{
    display: flex;
    width: 1000px;
    height: 200px;
    margin-top: 50px;
    border:  2px solid #ccc;
    border-radius:5px ;
    gap: 10px;
    position: relative;

}



.seach-title h3 {
    font-size: 20px;
    color: blue;
    margin: 5px;
}

.seach-distance{
    margin: 5px;
}

.seach-span{
    background: #228b22;
    width: 120px;
    
    border-radius : 5px;
    margin-left: 5px;
    color:  white;
    margin-top: 5px;
    
}

.seach-one {
    font-weight: bold;
    margin: 5px;
}

.seach-three{
    color: #228b22;
    font-weight:  bold;
    margin-bottom: 0px 5px;
}

.seach-six{
    color: #228b22;
}

.seach-pice{
    position: absolute;
    right: 50px;
    top: 10px;
}

.pice-title{
    display: flex;
    gap: 70px;
    margin-bottom: 70px;
}
.pice-title span {
    background: blue;
    
}

.seach-price{
    font-weight: bold;
    margin-left: 120px;
}


.pice-p{
    color: #ccc;
}

.pice-btn{
    background: blue;
    width:150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}